

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>控制台主页</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <!--引入本地layui.css-->
  <link rel="stylesheet" href="/layui/css/layui.css" media="all">
  <!--引入本地自定义的admin、login.css-->
  <link rel="stylesheet" href="/layui/layuiAdmin/css/admin.css" media="all">
  <!-- 引入刚刚下载的 ECharts 文件 -->
  <script src="/js/echarts.min.js"></script>
</head>
<body>
  
  <div class="layui-fluid">
    <div class="layui-row layui-col-space15">
      <div class="layui-col-md12">
        <div class="layui-row layui-col-space15">
          <div class="layui-col-md6">
            <div class="layui-card">
              <div class="layui-card-header">系统类型</div>
              <div class="layui-card-body">
                <!-- 为 ECharts 准备一个定义了宽高的 DOM -->
                <div id="hosts" style="width: 600px;height:400px;"></div>
              </div>
            </div>
          </div>

          <div class="layui-col-md6">
            <div class="layui-card">
              <div class="layui-card-header">漏洞风险</div>
              <div class="layui-card-body">
                <!-- 为 ECharts 准备一个定义了宽高的 DOM -->
                <div id="vul" style="width: 600px;height:400px;"></div>
              </div>
            </div>
          </div>

          <div class="layui-col-md6">
            <div class="layui-card">
              <div class="layui-card-header">日志统计</div>
              <div class="layui-card-body">
                <!-- 为 ECharts 准备一个定义了宽高的 DOM -->
                <div id="logs" style="width: 600px;height:400px;"></div>
              </div>
            </div>
          </div>

          <div class="layui-col-md6">
            <div class="layui-card">
              <div class="layui-card-header">基线概述</div>
              <div class="layui-card-body">
                <!-- 为 ECharts 准备一个定义了宽高的 DOM -->
                <div id="baseLines" style="width: 600px;height:400px;"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="/layui/layui.js"></script>

  <script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('hosts'));

    // 操作系统类型饼状图
    option = {
      title: {
        text: '主机系统',
        subtext: '操作系统类型',
        left: 'center'
      },
      tooltip: {
        trigger: 'item'
      },
      legend: {
        orient: 'vertical',
        left: 'right'
      },
      series: [
        {
          name: '系统类型',
          type: 'pie',
          radius: '50%',
          data: [],
          emphasis: {
            itemStyle: {
              shadowBlur: 10,
              shadowOffsetX: 0,
              shadowColor: 'rgba(0, 0, 0, 0.5)'
            }
          }
        }
      ]
    };

    // 定义一个函数来从后端获取数据并更新图表
    async function fetchDataAndUpdateChart() {
      try {
        const requestOptions = {
          elem: '#hosts',
          method: 'POST', // 指定请求方法为POST
          headers: {
          'Authorization': localStorage.getItem('token')
        },
          dataType:"json", //后端返回参数类型
        };
        const response = await fetch('/host/list/types',requestOptions);

        if (!response.ok) {
          throw new Error(`HTTP error! status: ${response.status}`);
        }
        const data = await response.json(); // 假设返回的是JSON格式的数据

        // 统计每种 os_type 的数量
        const osTypeCounts = {};
        for (let i = 0; i < data.data.length; i++){
          const osType = data.data[i].osType;
          if (!osTypeCounts[osType]) {
            osTypeCounts[osType] = 0;
          }
          osTypeCounts[osType] = osTypeCounts[osType] + 1;
        }

        // 将统计结果转换为 ECharts 需要的格式
        const chartData = Object.keys(osTypeCounts).map(osType => ({
          value: osTypeCounts[osType],
          name: osType
        }));

        // 更新图表配置
        myChart.setOption({
          series: [{
            data: chartData
          }]
        });

      } catch (error) {
        console.error('Error fetching data:', error);
      }
    }

    // 调用函数以获取数据并更新图表
    fetchDataAndUpdateChart();

    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);

    // 风险柱状图
    // 基于准备好的dom，初始化echarts实例
    var vulChart = echarts.init(document.getElementById('vul'));

    option = {
      tooltip: {
        trigger: 'axis',
        axisPointer: {
          type: 'shadow'
        }
      },
      grid: {
        left: '3%',
        right: '4%',
        bottom: '3%',
        containLabel: true
      },
      xAxis: [
        {
          type: 'category',
          data: ['Windows', 'Ubuntu', 'Macos', 'Centos', 'Microsoft Windows Server'],
          axisTick: {
            alignWithLabel: true
          }
        }
      ],
      yAxis: [
        {
          type: 'value'
        }
      ],
      series: [
        {
          name: '影响主机数量',
          type: 'bar',
          barWidth: '60%',
          data: [9, 6, 6, 5, 5]
        }
      ]
    };

    // 定义一个函数来从后端获取数据并更新图表
    async function vulFetchDataAndUpdateChart() {
      try {
        const requestOptions = {
          elem: '#vuls',
          method: 'POST', // 指定请求方法为POST
          headers: {
            'Authorization': localStorage.getItem('token')
          },
          dataType:"json", //后端返回参数类型
        };
        const response = await fetch('/vulnerability/list/all',requestOptions);

        if (!response.ok) {
          throw new Error(`HTTP error! status: ${response.status}`);
        }

        const data = await response.json(); // 假设返回的是JSON格式的数据

        // 统计每种 vulType 的数量
        const vulTypeCounts = {};
        for (let i = 0; i < data.data.length; i++) {
          const vulType = data.data[i].vulType; // 获取当前记录的漏洞类型

          // 如果 vulTypeCounts 中尚未记录当前漏洞类型，则初始化其计数为0
          if (!vulTypeCounts[vulType]) {
            vulTypeCounts[vulType] = 0;
          }

          // 对当前漏洞类型的计数进行累加
          vulTypeCounts[vulType] += data.data[i].userVulnerabilities.length;
        }

        // 准备图表所需的数据
        const xAxisData = Object.keys(vulTypeCounts);
        const seriesData = Object.values(vulTypeCounts);

        // 更新图表配置
        vulChart.setOption({
          xAxis: {
            data: xAxisData
          },
          series: [{
            data: seriesData
          }]
        });

      } catch (error) {
        console.error('Error fetching data:', error);
      }
    }

    // 调用函数以获取数据并更新图表
    vulFetchDataAndUpdateChart();

    // 使用刚指定的配置项和数据显示图表。
    vulChart.setOption(option);

    // 日志饼图
    // 基于准备好的dom，初始化echarts实例
    var logChart = echarts.init(document.getElementById('logs'));

    option = {
      tooltip: {
        trigger: 'item'
      },
      legend: {
        top: '5%',
        left: 'center'
      },
      series: [
        {
          name: '日志类型',
          type: 'pie',
          radius: ['40%', '70%'],
          avoidLabelOverlap: false,
          itemStyle: {
            borderRadius: 10,
            borderColor: '#fff',
            borderWidth: 2
          },
          label: {
            show: false,
            position: 'center'
          },
          emphasis: {
            label: {
              show: true,
              fontSize: 40,
              fontWeight: 'bold'
            }
          },
          labelLine: {
            show: false
          },
          data: [
            { value: 1048, name: 'Search Engine' },
            { value: 735, name: 'Direct' },
            { value: 580, name: 'Email' },
            { value: 484, name: 'Union Ads' },
            { value: 300, name: 'Video Ads' }
          ]
        }
      ]
    };

    // 定义一个函数来从后端获取数据并更新图表
    async function logFetchDataAndUpdateChart() {
      try {
        const requestOptions = {
          elem: '#logs',
          method: 'POST', // 指定请求方法为POST
          headers: {
            'Authorization': localStorage.getItem('token')
          },
          dataType:"json", //后端返回参数类型
        };
        const response = await fetch('/log/list/all',requestOptions);

        if (!response.ok) {
          throw new Error(`HTTP error! status: ${response.status}`);
        }
        const data = await response.json(); // 假设返回的是JSON格式的数据

        // 统计每种 eventName 的数量
        const eventNameCounts = {};
        for (let i = 0; i < data.data.length; i++){
          const eventName = data.data[i].eventName;
          if (!eventNameCounts[eventName]) {
            eventNameCounts[eventName] = 0;
          }
          eventNameCounts[eventName] = eventNameCounts[eventName] + 1;
        }

        // 将统计结果转换为 ECharts 需要的格式
        const chartData = Object.keys(eventNameCounts).map(eventName => ({
          value: eventNameCounts[eventName],
          name: eventName
        }));

        // 更新图表配置
        logChart.setOption({
          series: [{
            data: chartData
          }]
        });

      } catch (error) {
        console.error('Error fetching data:', error);
      }
    }

    // 调用函数以获取数据并更新图表
    logFetchDataAndUpdateChart();

    // 使用刚指定的配置项和数据显示图表。
    logChart.setOption(option);

    // 基线饼图
    // 基于准备好的dom，初始化echarts实例
    var baseLineChart = echarts.init(document.getElementById('baseLines'));

    option = {
      title: {
        text: '基线种类',
        subtext: '检测的基线种类概述',
        left: 'center'
      },
      tooltip: {
        trigger: 'item',
        formatter: '{a} <br/>{b} : {c} ({d}%)'
      },
      legend: {
        left: 'center',
        top: 'bottom',
        data: [
          'rose1',
          'rose2',
          'rose3',
          'rose4',
          'rose5',
          'rose6',
          'rose7',
          'rose8'
        ]
      },
      toolbox: {
        show: true,
        feature: {
          mark: { show: true },
          dataView: { show: true, readOnly: false },
          restore: { show: true },
          saveAsImage: { show: true }
        }
      },
      series: [
        {
          name: '基线类型',
          type: 'pie',
          radius: [20, 140],
          center: ['50%', '50%'],
          roseType: 'area',
          itemStyle: {
            borderRadius: 5
          },
          data: [
            { value: 30, name: 'rose 1' },
            { value: 28, name: 'rose 2' },
            { value: 26, name: 'rose 3' },
            { value: 24, name: 'rose 4' },
            { value: 22, name: 'rose 5' },
            { value: 20, name: 'rose 6' },
            { value: 18, name: 'rose 7' },
            { value: 16, name: 'rose 8' }
          ]
        }
      ]
    };

    // 定义一个函数来从后端获取数据并更新图表
    async function baseLineFetchDataAndUpdateChart() {
      try {
        const requestOptions = {
          elem: '#logs',
          method: 'POST', // 指定请求方法为POST
          headers: {
            'Authorization': localStorage.getItem('token')
          },
          dataType:"json", //后端返回参数类型
        };
        const response = await fetch('/baseLineResult/list/all',requestOptions);

        if (!response.ok) {
          throw new Error(`HTTP error! status: ${response.status}`);
        }
        const data = await response.json(); // 假设返回的是JSON格式的数据

        // 统计每种 policyName 的数量
        // 每种配置类型的中文名对应
        const name = {
          SysAccountPolicy: '系统账号策略配置',
          SysEventAuditPolicy: '系统事件审计策略配置',
          SysUserPrivilegePolicy: '系统用户特权策略配置',
          SysSecurityOptionPolicy: '系统安全选项策略配置',
          Registry: '注册表策略配置'
        };
        const policyNameCounts = {};
        for (let i = 0; i < data.data.length; i++){
          const policyName = data.data[i].policyName.split('::')[0];
          if (!policyNameCounts[policyName]) {
            policyNameCounts[policyName] = 0;
          }
          policyNameCounts[policyName] = policyNameCounts[policyName] + 1;
        }

        // 将统计结果转换为 ECharts 需要的格式
        const chartData = Object.keys(policyNameCounts).map(policyName => ({
          value: policyNameCounts[policyName],
          name: name[policyName]
        }));

        // 更新图表配置
        baseLineChart.setOption({
          series: [{
            data: chartData
          }]
        });

      } catch (error) {
        console.error('Error fetching data:', error);
      }
    }

    // 调用函数以获取数据并更新图表
    baseLineFetchDataAndUpdateChart();

    // 使用刚指定的配置项和数据显示图表。
    baseLineChart.setOption(option);

  </script>
</body>
</html>

