

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>控制台主页</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <!--引入本地layui.css-->
  <link rel="stylesheet" href="/layui/css/layui.css" media="all">
  <!--引入本地自定义的admin、login.css-->
  <link rel="stylesheet" href="/layui/layuiAdmin/css/admin.css" media="all">
  <!-- 引入刚刚下载的 ECharts 文件 -->
  <script src="/js/echarts.min.js"></script>
</head>
<body>
  
  <div class="layui-fluid">
    <div class="layui-row layui-col-space15">
      <div class="layui-col-md12">
        <div class="layui-row layui-col-space15">
          <div class="layui-col-md6">
            <div class="layui-card">
              <div class="layui-card-header">数据概览</div>
              <div class="layui-card-body">
                <!-- 为 ECharts 准备一个定义了宽高的 DOM -->
                <div id="hosts" style="width: 600px;height:400px;"></div>
              </div>
            </div>
          </div>

          <div class="layui-col-md6">
            <div class="layui-card">
              <div class="layui-card-header">漏洞风险</div>
              <div class="layui-card-body">
                <!-- 为 ECharts 准备一个定义了宽高的 DOM -->
                <div id="vul" style="width: 600px;height:400px;"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="/layui/layui.js"></script>

  <script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('hosts'));

    // 操作系统类型饼状图
    option = {
      title: {
        text: '主机系统',
        subtext: '操作系统类型',
        left: 'center'
      },
      tooltip: {
        trigger: 'item'
      },
      legend: {
        orient: 'vertical',
        left: 'right'
      },
      series: [
        {
          name: '系统类型',
          type: 'pie',
          radius: '50%',
          data: [],
          emphasis: {
            itemStyle: {
              shadowBlur: 10,
              shadowOffsetX: 0,
              shadowColor: 'rgba(0, 0, 0, 0.5)'
            }
          }
        }
      ]
    };

    // 定义一个函数来从后端获取数据并更新图表
    async function fetchDataAndUpdateChart() {
      try {
        const requestOptions = {
          elem: '#hosts',
          method: 'POST', // 指定请求方法为POST
          headers: {
          'Authorization': localStorage.getItem('token')
        },
          dataType:"json", //后端返回参数类型
        };
        const response = await fetch('/host/list/types',requestOptions);

        if (!response.ok) {
          throw new Error(`HTTP error! status: ${response.status}`);
        }
        const data = await response.json(); // 假设返回的是JSON格式的数据

        // 统计每种 os_type 的数量
        const osTypeCounts = {};
        for (let i = 0; i < data.data.length; i++){
          const osType = data.data[i].osType;
          if (!osTypeCounts[osType]) {
            osTypeCounts[osType] = 0;
          }
          osTypeCounts[osType] = osTypeCounts[osType] + 1;
        }

        // 将统计结果转换为 ECharts 需要的格式
        const chartData = Object.keys(osTypeCounts).map(osType => ({
          value: osTypeCounts[osType],
          name: osType
        }));

        // 更新图表配置
        myChart.setOption({
          series: [{
            data: chartData
          }]
        });

      } catch (error) {
        console.error('Error fetching data:', error);
      }
    }

    // 调用函数以获取数据并更新图表
    fetchDataAndUpdateChart();

    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);

    // 风险柱状图
    // 基于准备好的dom，初始化echarts实例
    var vulChart = echarts.init(document.getElementById('vul'));

    option = {
      tooltip: {
        trigger: 'axis',
        axisPointer: {
          type: 'shadow'
        }
      },
      grid: {
        left: '3%',
        right: '4%',
        bottom: '3%',
        containLabel: true
      },
      xAxis: [
        {
          type: 'category',
          data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],
          axisTick: {
            alignWithLabel: true
          }
        }
      ],
      yAxis: [
        {
          type: 'value'
        }
      ],
      series: [
        {
          name: '影响主机数量',
          type: 'bar',
          barWidth: '60%',
          data: [10, 52, 200, 334, 390, 330, 220]
        }
      ]
    };

    // 定义一个函数来从后端获取数据并更新图表
    async function vulFetchDataAndUpdateChart() {
      try {
        const requestOptions = {
          elem: '#vuls',
          method: 'POST', // 指定请求方法为POST
          headers: {
            'Authorization': localStorage.getItem('token')
          },
          dataType:"json", //后端返回参数类型
        };
        const response = await fetch('/vulnerability/list/all',requestOptions);

        if (!response.ok) {
          throw new Error(`HTTP error! status: ${response.status}`);
        }

        const data = await response.json(); // 假设返回的是JSON格式的数据

        // 统计每种 vulType 的数量
        const vulTypeCounts = {};
        for (let i = 0; i < data.data.length; i++) {
          const vulType = data.data[i].vulType; // 获取当前记录的漏洞类型

          // 如果 vulTypeCounts 中尚未记录当前漏洞类型，则初始化其计数为0
          if (!vulTypeCounts[vulType]) {
            vulTypeCounts[vulType] = 0;
          }

          // 对当前漏洞类型的计数进行累加
          vulTypeCounts[vulType] += data.data[i].userVulnerabilities.length;
        }

        // 准备图表所需的数据
        const xAxisData = Object.keys(vulTypeCounts);
        const seriesData = Object.values(vulTypeCounts);

        // 更新图表配置
        vulChart.setOption({
          xAxis: {
            data: xAxisData
          },
          series: [{
            data: seriesData
          }]
        });

      } catch (error) {
        console.error('Error fetching data:', error);
      }
    }

    // 调用函数以获取数据并更新图表
    vulFetchDataAndUpdateChart();

    // 使用刚指定的配置项和数据显示图表。
    vulChart.setOption(option);

  </script>
</body>
</html>

