<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>设置我的密码</title>
    <link rel="stylesheet" href="/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/layui/layuiAdmin/css/admin.css" media="all">
    <style>
        /* 基本样式 */
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }

        input {
            display: block;
            margin-bottom: 10px;
            padding: 10px;
            width: 300px;
        }

        #passwordStrength {
            font-weight: bold;
            margin-bottom: 10px;
        }

        .indicator {
            height: 10px;
            width: 300px;
            background-color: #e0e0e0;
            border-radius: 5px;
            overflow: hidden;
            transition: background-color 0.3s;
        }

        /* 不同强度的样式 */
        .indicator.weak {
            background-color: #ff4d4d; /* 红色 */
        }

        .indicator.moderate {
            background-color: #ffcc00; /* 黄色 */
        }

        .indicator.strong {
            background-color: #66cc66; /* 绿色 */
        }

        .indicator.very-strong {
            background-color: #3399ff; /* 蓝色 */
        }

    </style>
</head>



<body>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">修改密码</div>
                <div class="layui-card-body" pad15>

                    <div class="layui-form" lay-filter="changePassword">
                        <div class="layui-form-item">
                            <label class="layui-form-label">当前密码</label>
                            <div class="layui-input-inline">
                                <input type="password" name="oldPassword" lay-verify="required" lay-verType="tips" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">新密码</label>
                            <div class="layui-input-inline">
                                <input type="password" name="password" lay-verify="pass" lay-verType="tips" autocomplete="off" id="LAY_password" class="layui-input">
                                <div id="passwordStrength">弱</div>
                                <div id="passwordStrengthIndicator" class="indicator"></div>
                            </div>
                            <div class="layui-form-mid layui-word-aux">6到16个字符</div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">确认新密码</label>
                            <div class="layui-input-inline">
                                <input type="password" name="rePassword" lay-verify="repass" lay-verType="tips" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn" lay-submit lay-filter="setmypass">确认修改</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/layui/layui.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    layui.define(['form', 'upload'], function (exports) {
        // 引入并初始化 layui 模块，这是一个基于 jQuery 的前端框架
        var $ = layui.$
            , layer = layui.layer // 弹窗模块
            , laytpl = layui.laytpl // 模板引擎模块
            , setter = layui.setter // 设置模块，用于配置全局参数
            , view = layui.view // 视图模块，用于页面跳转和数据渲染
            , admin = layui.admin // 后台管理模块，提供了一些后台管理常用的工具方法
            , form = layui.form // 表单模块，用于表单的渲染和事件处理
            , upload = layui.upload // 上传模块，用于文件上传操作

        // 获取 body 元素的 jQuery 对象，用于后续操作
        var $body = $('body');


        form.render();

        //自定义验证
        form.verify({
            nickname: function (value, item) { //value：表单的值、item：表单的DOM对象
                if (!new RegExp("^[a-zA-Z0-9_\u4e00-\u9fa5\\s·]+$").test(value)) {
                    return '用户名不能有特殊字符';
                }
                if (/(^\_)|(\__)|(\_+$)/.test(value)) {
                    return '用户名首尾不能出现下划线\'_\'';
                }
                if (/^\d+\d+\d$/.test(value)) {
                    return '用户名不能全为数字';
                }
            }
            , pass: function(value, item) {
                    if (!/^[\S]{6,20}$/.test(value)) {
                        return '密码必须6到20位，且不能出现空格';
                    }
                    if (!/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[\W_]).{6,12}$/.test(value)) {
                        return '密码必须包含至少一个大写字母、一个小写字母、一个数字和一个特殊字符';
                    }
                }
            //确认密码
            , repass: function (value) {
                if (value !== $('#LAY_password').val()) {
                    return '两次密码输入不一致';
                }
            },
        });

        //设置密码
        form.on('submit(setmypass)', function (obj) {
            //提交修改
            fetch('/user/changePwd', {
                method: 'POST',
                headers: {
                    'Authorization': localStorage.getItem('token'),
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    oldPwd: obj.field.oldPassword,
                    newPwd: obj.field.rePassword,
                    username: localStorage.getItem("username"),
                })
            }).then(response => response.json())
                .then(data => {
                    // 处理响应
                    if (data.code === 200) {
                        layer.msg(data.msg);
                        return false;
                    } else {
                        layer.msg(data.msg);
                        return true;
                    }
                }).catch(error => {
                // 处理错误
                console.error(error);
                return false;
            });
        });

        // form.on('submit(setmypass)', function (obj) {
        //     // 提交修改密码请求
        //     fetch('/user/changePwd', {
        //         method: 'POST',
        //         headers: {
        //             'Authorization': localStorage.getItem('token'),
        //             'Content-Type': 'application/json'
        //         },
        //         body: JSON.stringify({
        //             oldPwd: obj.field.oldPassword,
        //             newPwd: obj.field.rePassword,
        //             username: localStorage.getItem("username"),
        //         })
        //     }).then(response => response.json())
        //         .then(data => {
        //             // 处理修改密码响应
        //             if (data.code === 200) {
        //                 layer.msg(data.msg);
        //             } else {
        //                 layer.msg(data.msg);
        //             }
        //
        //             // 无论密码修改成功与否，都执行退出登录请求
        //             return fetch('/user/logout', {
        //                 method: 'POST',
        //                 headers: {
        //                     'Authorization': localStorage.getItem('token'),
        //                     'Content-Type': 'application/json'
        //                 },
        //             });
        //         }).then(response => response.json())
        //         .then(data => {
        //             // 处理退出登录响应
        //             if (data.code === 200) {
        //                 // 本地对象清空
        //                 localStorage.clear();
        //                 // 跳转到登录页面
        //                 window.location.href = "/page/login?refresh=true";
        //             } else {
        //                 layer.msg(data.msg);
        //             }
        //         }).catch(error => {
        //         // 处理错误
        //         console.error(error);
        //         layer.msg('网络错误，请稍后再试');
        //     });
        //
        //     // 防止 form 提交
        //     return false;
        // });


        // 即时显示密码强度
        $('#LAY_password').on('input', function () {
            var value = $(this).val();
            var strength = getPasswordStrength(value);
            $('#passwordStrength').text(strength);
            updatePasswordStrengthIndicator(strength);
        });

// 密码强度计算函数
        function getPasswordStrength(password) {
            var strength = '弱';
            if (password.length >= 6 && /[a-z]/.test(password) && /[A-Z]/.test(password) && /\d/.test(password) && /\W/.test(password)) {
                strength = '很强';
            } else if (password.length >= 6 && (/[a-z]/.test(password) || /[A-Z]/.test(password)) && /\d/.test(password)) {
                strength = '强';
            } else if (password.length >= 6) {
                strength = '中';
            }
            return strength;
        }

// 更新密码强度指示器样式
        function updatePasswordStrengthIndicator(strength) {
            var indicator = $('#passwordStrengthIndicator');
            indicator.removeClass('weak moderate strong very-strong');
            if (strength === '弱') {
                indicator.addClass('weak');
            } else if (strength === '中') {
                indicator.addClass('moderate');
            } else if (strength === '强') {
                indicator.addClass('strong');
            } else if (strength === '很强') {
                indicator.addClass('very-strong');
            }
        }

        //对外暴露的接口
        exports('set', {});
    });

</script>

</body>
</html>