<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tpp.threat_perception_platform.dao.ServiceMapper">

    <resultMap id="BaseResultMap" type="com.tpp.threat_perception_platform.pojo.Service">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="mac" column="mac" jdbcType="VARCHAR"/>
            <result property="protocol" column="protocol" jdbcType="VARCHAR"/>
            <result property="port" column="port" jdbcType="VARCHAR"/>
            <result property="state" column="state" jdbcType="VARCHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="product" column="product" jdbcType="VARCHAR"/>
            <result property="version" column="version" jdbcType="VARCHAR"/>
            <result property="extrainfo" column="extrainfo" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,mac,protocol,
        port,state,name,
        product,version,extrainfo
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from service
        where  id = #{id,jdbcType=INTEGER} 
    </select>
    <select id="selectAll" resultType="com.tpp.threat_perception_platform.pojo.Service">
        select
        <include refid="Base_Column_List" />
        from service
        <where>
            <if test="keywords != null and keywords != ''">
                and mac like concat('%',#{keywords},'%')
            </if>
        </where>
        order by id asc
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from service
        where  id = #{id,jdbcType=INTEGER} 
    </delete>
    <delete id="deleteByMac">
        delete from service
        where  mac = #{mac,jdbcType=VARCHAR}
    </delete>
    <delete id="delete">
        delete from service
        where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id,jdbcType=INTEGER}
        </foreach>
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.tpp.threat_perception_platform.pojo.Service" useGeneratedKeys="true">
        insert into service
        ( id,mac,protocol
        ,port,state,name
        ,product,version,extrainfo
        )
        values (#{id,jdbcType=INTEGER},#{mac,jdbcType=VARCHAR},#{protocol,jdbcType=VARCHAR}
        ,#{port,jdbcType=VARCHAR},#{state,jdbcType=VARCHAR},#{name,jdbcType=VARCHAR}
        ,#{product,jdbcType=VARCHAR},#{version,jdbcType=VARCHAR},#{extrainfo,jdbcType=VARCHAR}
        )
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.tpp.threat_perception_platform.pojo.Service" useGeneratedKeys="true">
        insert into service
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">id,</if>
                <if test="mac != null">mac,</if>
                <if test="protocol != null">protocol,</if>
                <if test="port != null">port,</if>
                <if test="state != null">state,</if>
                <if test="name != null">name,</if>
                <if test="product != null">product,</if>
                <if test="version != null">version,</if>
                <if test="extrainfo != null">extrainfo,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">#{id,jdbcType=INTEGER},</if>
                <if test="mac != null">#{mac,jdbcType=VARCHAR},</if>
                <if test="protocol != null">#{protocol,jdbcType=VARCHAR},</if>
                <if test="port != null">#{port,jdbcType=VARCHAR},</if>
                <if test="state != null">#{state,jdbcType=VARCHAR},</if>
                <if test="name != null">#{name,jdbcType=VARCHAR},</if>
                <if test="product != null">#{product,jdbcType=VARCHAR},</if>
                <if test="version != null">#{version,jdbcType=VARCHAR},</if>
                <if test="extrainfo != null">#{extrainfo,jdbcType=VARCHAR},</if>
        </trim>
    </insert>
    <insert id="insertBatch">
        insert into service
        values
        <trim suffixOverrides=",">
            <foreach collection="services" item="service" separator=",">
                (#{service.id,jdbcType=INTEGER},
                 #{service.mac,jdbcType=VARCHAR},
                 #{service.protocol,jdbcType=VARCHAR},
                 #{service.port,jdbcType=VARCHAR},
                 #{service.state,jdbcType=VARCHAR},
                 #{service.name,jdbcType=VARCHAR},
                 #{service.product,jdbcType=VARCHAR},
                 #{service.version,jdbcType=VARCHAR},
                 #{service.extrainfo,jdbcType=VARCHAR}
                )
            </foreach>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.tpp.threat_perception_platform.pojo.Service">
        update service
        <set>
                <if test="mac != null">
                    mac = #{mac,jdbcType=VARCHAR},
                </if>
                <if test="protocol != null">
                    protocol = #{protocol,jdbcType=VARCHAR},
                </if>
                <if test="port != null">
                    port = #{port,jdbcType=VARCHAR},
                </if>
                <if test="state != null">
                    state = #{state,jdbcType=VARCHAR},
                </if>
                <if test="name != null">
                    name = #{name,jdbcType=VARCHAR},
                </if>
                <if test="product != null">
                    product = #{product,jdbcType=VARCHAR},
                </if>
                <if test="version != null">
                    version = #{version,jdbcType=VARCHAR},
                </if>
                <if test="extrainfo != null">
                    extrainfo = #{extrainfo,jdbcType=VARCHAR},
                </if>
        </set>
        where   id = #{id,jdbcType=INTEGER} 
    </update>
    <update id="updateByPrimaryKey" parameterType="com.tpp.threat_perception_platform.pojo.Service">
        update service
        set 
            mac =  #{mac,jdbcType=VARCHAR},
            protocol =  #{protocol,jdbcType=VARCHAR},
            port =  #{port,jdbcType=VARCHAR},
            state =  #{state,jdbcType=VARCHAR},
            name =  #{name,jdbcType=VARCHAR},
            product =  #{product,jdbcType=VARCHAR},
            version =  #{version,jdbcType=VARCHAR},
            extrainfo =  #{extrainfo,jdbcType=VARCHAR}
        where   id = #{id,jdbcType=INTEGER} 
    </update>
</mapper>
